<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SpotifyFavorites</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    />
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

  </head>
  <body>
    <div th:insert="fragments/header"></div>

    <div class="container ">
      <div class="row mt-2">
        <div class="col-4 mx-auto">
        <h2 class="text-center">Search Spotify</h2>

          <form action="#" th:action="@{/search}" method="GET">
            <div class="form-group">
              <label for="query">Search</label>
              <input
                type="text"
                class="form-control"
                id="query"
                th:name="query"
                autocomplete="off"
              />
            </div>
            <div class="form-group">
              <select class="form-control" th:name="type">
                <option value="artist">Artist</option>
                <option value="track">Track</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div th:if="${artists != null}">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="artist, iter : ${artists}">
                  <th scope="row"><span th:text="${iter.index + 1}"></span></th>
                  <td><span th:text="${artist.name}"></span></td>
                  <td>
                    <form
                      action="#"
                      th:action="@{/artist}"
                      th:object="${artist}"
                      method="POST"
                    >
                      <input type="hidden" th:value="${artist.id}" name="id" />
                      <input
                        type="hidden"
                        th:value="${artist.name}"
                        name="name"
                      />
                      <button type="submit" class="btn btn-success">Add</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <div th:if="${tracks != null}">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Artists</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="track, iter : ${tracks}">
                  <th scope="row"><span th:text="${iter.index + 1}"></span></th>
                  <td><span th:text="${track.name}"></span></td>
                  <td>
                    <ul th:each="artist : ${track.artists}">
                      <li><span th:text="${artist.name}"></span></li>
                    </ul>
                  </td>
                  <td>
                    <form
                      action="#"
                      th:action="@{/track}"
                      th:object="${newTrack}"
                      method="POST"
                    >
                      <input type="hidden" th:value="${track.id}" name="id" />
                      <input
                        type="hidden"
                        th:value="${track.name}"
                        name="name"
                      />
                      <th:block th:each="artist, artistIter : ${track.artists}">
                        <input
                          type="hidden"
                          th:value="${artist.id}"
                          th:name="'artists[' + ${artistIter.index} + '].id'"
                        />
                        <input
                          type="hidden"
                          th:value="${artist.name}"
                          th:name="'artists[' + ${artistIter.index} + '].name'"
                        />
                      </th:block>
                      <button type="submit" class="btn btn-success">Add</button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
