<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SpotifyFavorites</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
    />
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div th:insert="fragments/header"></div>

    <form action="#" th:action="@{/search}" method="GET">
      <input type="text" th:name="query" autocomplete="off" />
      <select th:name="type">
        <option value="artist">Artist</option>
        <option value="track">Track</option>
      </select>
      <input type="submit" value="Submit" />
    </form>

    <div th:if="${artists != null}">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="artist, iter : ${artists}">
            <th scope="row"><span th:text="${iter.index + 1}"></span></th>
            <td><span th:text="${artist.name}"></span></td>
            <td>
              <form
                action="#"
                th:action="@{/artist}"
                th:object="${artist}"
                method="POST"
              >
                <input type="hidden" th:value="${artist.id}" name="id" />
                <input type="hidden" th:value="${artist.name}" name="name" />
                <input type="submit" value="Add" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div th:if="${tracks != null}">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Artists</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="track, iter : ${tracks}">
            <th scope="row"><span th:text="${iter.index + 1}"></span></th>
            <td><span th:text="${track.name}"></span></td>
            <td>
              <ul th:each="artist : ${track.artists}">
                <li><span th:text="${artist.name}"></span></li>
              </ul>
            </td>
            <td>
              <form
                action="#"
                th:action="@{/track}"
                th:object="${newTrack}"
                method="POST"
              >
                <input type="hidden" th:value="${track.id}" name="id" />
                <input type="hidden" th:value="${track.name}" name="name" />
                <th:block th:each="artist, artistIter : ${track.artists}">
                  <input
                    type="hidden"
                    th:value="${artist.id}"
                    th:name="'artists[' + ${artistIter.index} + '].id'"
                  />
                  <input
                    type="hidden"
                    th:value="${artist.name}"
                    th:name="'artists[' + ${artistIter.index} + '].name'"
                  />
                </th:block>
                <input type="submit" value="Add" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
